.header {
  height: 70px;
  max-width: 100%;
  background-color: #033249;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .header-links {
    width: 30%;
    text-align: right;
    margin-right: 2%;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: white;
      text-decoration: underline;
    }

    .header-links-link {
      padding-right: 7%;
    }
  }

  .header-title {
    margin-left: 3%;
    .header-title-logo {
      height: 60px;
      width: auto;
    }
  }
}
