.post {
  width: 90%;
  margin: auto;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 30px;

  .post_header {
    margin: 6px;
    .post_header_renter {
      font-weight: bolder;
      padding-top: 1.2%;
      padding-bottom: 2%;
    }
  }

  .post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .post_caption {
    display: flex;
    padding: 5px;

    h4 {
      padding: 4px;
    }

    .post_caption_text {
      padding: 4px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .post {
    width: 96%;
  }
}
